<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Christo Van Wyk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
    <!-- Logo -->
    <div id="logoContainer">
        <p id="logoParagraph"><a id="logoAnchor" href="/">
                Christo Van Wyk
            </a></p>
    </div>
    <div class="ui borderless main menu">
        <div class="ui text container">
            <a href="/" class="item">Home</a>
            <a href="#" class="item">Projects</a>
            <a href="#contact" class="ui right floated dropdown item" tabindex="0">
                Contact
            </a>
        </div>
    </div>

    <div class="ui text container">
        <div class="ui raised very padded text container segment">
            <h1 class="ui massive orange label">My Projects</h1>
        </div>
    </div>
    <div class="ui raised very padded text container segment">
        <h2 class="ui blue header">Automate XL</h2>
        <img src="/static/images/AutomateXL.png" alt="">
        <p>
            <a href="automate.html" class="ui blue circular huge label" target="_blank">Test this project out</a>
            <a href="https://youtu.be/nmDz4SmaKXY" class="ui red circular huge label" target="_blank">Project Video</a>
        </p>
    </div>
    <div class="ui raised very padded text container segment">
        <h2 id="freeCodeCampMainHeader" class="ui blue header">freeCodeCamp Projects</h2>
        <h3 id="freeCodeCampHeader" class="ui inverted header">Technical Documentation Page</h3>
        <img id="freeCodeCampImage" src="/static/images/technical.PNG" alt="">
        <p>
            <a href="technical.html" class="ui blue circular huge label" target="_blank">See the Design</a>
        </p>
        <h3 id="freeCodeCampHeader" class="ui inverted header">Product Landing Page</h3>
        <img id="freeCodeCampImage" src="/static/images/product.PNG" alt="">
        <p>
            <a href="product.html" class="ui blue circular huge label" target="_blank">See the Design</a>
        </p>
        <h3 id="freeCodeCampHeader" class="ui inverted header">Survey Form</h3>
        <img id="freeCodeCampImage" src="/static/images/surveyform.PNG" alt="">
        <p>
            <a href="surveyform.html" class="ui blue circular huge label" target="_blank">See the Design</a>
        </p>

        <h3 id="freeCodeCampHeader" class="ui inverted header">Tribute Page</h3>
        <img id="freeCodeCampImage" src="/static/images/tribute.PNG" alt="">
        <p>
            <a href="tribute.html" class="ui blue circular huge label" target="_blank">See the Design</a>
        </p>
    </div>

    <div id="contact" class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="two wide column">
                    <div id="socialMedia" class="ui labeled icon vertical menu">
                        <a href="https://github.com/CGVanWyk" class="item" target="_blank"><i class="github icon"></i>
                            <p>Github</p>
                        </a>
                        <a href="https://www.instagram.com/christo.vanwyk.773/" class="item" target="_blank"> <i
                                class="instagram icon"></i>
                            <p>Instagram</p>
                        </a>
                        <a href="https://www.linkedin.com/in/christo-van-wyk-b9b444124/" class="item" target="_blank"><i
                                class="linkedin icon"></i>
                            <p>Linkedin</p>
                        </a>
                    </div>
                </div>
                <div class="six wide column">
                    <div id="contactDetails" class="ui labeled icon vertical menu">
                        <a class="item"><i class="mobile alternate icon"></i>
                            <p>084 798 2222</p>
                        </a>
                        <a href="https://www.facebook.com/christo.vanwyk.773" class="item" target="_blank"><i
                                class="facebook icon"></i>
                            <p>Facebook</p>
                        </a>
                        <a href="mailto: christogerritvanwyk@gmail.com" class="item"><i class="mail icon"></i>
                            <p>christogerritvanwyk@gmail.com</p>
                        </a>
                    </div>
                </div>
                <div class="seven wide column">
                    <div class="ui huge orange label">
                        <h2 id="footerHeader" class="ui inverted header">Christo Van Wyk</h2>
                        <p>I have almost one year experience as an IT Technician where I had to troubleshoot and fix
                            computers and computer software. I am now a dedicated Web Developer Freelancer looking for
                            anyone that requires a website or any other project that requires work.</p>
                    </div>
                    <a href="/static/documents/Christo Van Wyk CV.pdf" class="ui big red inverted label" target="_blank">
                        <i class="download icon"></i>
                        Download CV
                    </a>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <h3>© Christo Van Wyk 2019</h3>
        </div>
    </div>
    <!-- <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> -->
    <script src="/static/js/main.js"></script>
</body>

</html>