<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Toby Fox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/tribute.css">
</head>

<body>
    <main id="main">
        <div class="ui raised very padded text container segment">
            <h1 id="title" class="ui huge header">Toby Fox</h1>
        </div>
        <div id="img-div" class="ui raised very padded text container segment">
            <img id="image"
                src="/static/images/Toby.jpg"
                alt="Picture of Toby Fox">
            <div id="img-caption">
                Toby Fox, depicted in the above image, is a Video Game Developer and Composer. He is famous for the
                popular Undertale game, which he released in 2015.
            </div>
        </div>
        <div id="tribute-info">
            <div class="ui raised very padded text container segment">
                <h2 class="ui header">Current timeline for Toby Fox:</h2>
                <h3>October 11, 1991</h3>
                <p>Toby Fox was born</p>
            </div>
            <div class="ui raised very padded text container segment">
                <h3>2009</h3>
                <p>Toby studied Environmental Science at Northeastern University in Boston,
                    Massachusetts, and had started composing a variety of music for Andrew Hussie's 2009 webcomic
                    Homestuck
                    during his senior year of high school. Though he did not initially respond when Hussie started a
                    "Music
                    Contribution Team" in April 2009 and put up a news post asking musicians to participate, Hussie
                    took
                    note of his work when Fox started uploading piano covers of the webcomic's music on the MS Paint
                    Adventures forums</p>
            </div>
            <div class="ui raised very padded text container segment">
                <h3>2012</h3>
                <p>Deltarune Development started, although it was abandoned before Fox
                    completed one room. According to a 2019 interview held to promote the game's Nintendo Switch
                    release, the idea for Deltarune came to Fox in a dream he had in 2011 while he was at college.
                    In
                    the dream, he saw the ending to a video game, and was determined to create it</p>
            </div>
            <div class="ui raised very padded text container segment">
                <h3>2013</h3>
                <p>Undertale was developed by Toby Fox across 32 months. Development was financed through a
                    crowdfunding campaign on the website Kickstarter. The campaign was launched on June 25, 2013
                    with a goal of $5,000</p>
            </div>
            <div class="ui raised very padded text container segment">
                <h3>2014</h3>
                <p>Undertale was initially meant to be two hours in length and was set to be released in mid-2014,
                    but development was delayed</p>
            </div>
            <div class="ui raised very padded text container segment">
                <h3>2015</h3>
                <p>Undertale was released for Microsoft Windows and OS X in September 2015. Undertale is a game
                    remembered for its great story telling, unique writing, different combat system from other known
                    games. The game has amazing music which brings the game to life. There isn't a game like
                    Undertale, with its originality, and you can see this with the character design inside of the
                    game. The game also has multiple endings for the loyal fans that want to come back for another
                    run. Undertale sold over one million copies after its release, and was nominated for multiple
                    accolades and awards, and was even awarded Game of the Year from several publications</p>
            </div>
            <div class="ui raised very padded text container segment">
                <h3>2016</h3>
                <p>Undertale was released for Linux in July 2016</p>
            </div>
            <div class="ui raised very padded text container segment">
                <h3>2017</h3>
                <p>Undertale was released for PlayStation 4 and PlayStation Vita in August 2017</p>
            </div>
            <div class="ui raised very padded text container segment">
                <h3>2018</h3>
                <p>Undertale was released for Nintendo Switch in September 2018. Fox released the first chapter of
                    Deltarune, a game "intended for
                    people who have completed Undertale", on October 31, 2018 for Windows and macOS for free.
                    Deltarune was developed by Fox in GameMaker Studio 2. The game introduces a new battle system
                    influenced by the Final Fantasy franchise, contrasting with the original game's combat system
                    (which was inspired by that of the Mother series). Some of the music in the game remixes much of
                    the soundtrack of Undertale, but most pieces are new</p>
            </div>
            <div class="ui raised very padded text container segment">
                <p>
                    You can read more about Toby Fox <a id="tribute-link" href="https://en.wikipedia.org/wiki/Toby_Fox"
                        target="_blank">Here</a>
                </p>
            </div>
        </div>
    </main>
    <script src="/static/js/tribute.js"></script>
</body>

</html>